.easy {
	display:flex;
	flex-wrap: wrap;
	width: 200px;
	margin-left: 19.5%;
}

.medium {
	display:flex;
	flex-wrap: wrap;
	width: 240px;
	margin-left: 19.5%;
}

.hard {
	display:flex;
	flex-wrap: wrap;
	width: 300px;
	margin-left: 15%;
}