.easy {
  color: green;
}

.medium {
  color: yellow;
}

.hard {
  color: red;
}

.container {
	background-color: black;
	width: 50%;
	height: 30%;
	display: flex;
	align-items: center;
	flex-direction: column;
}